---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>My Static Site</title>
	</head>
	<body>
		<h1>Hello World!</h1>
		<p>Welcome to my static site built with Astro!</p>
	</body>
</html> 