<header class="hero">
    <a href="/" class="header-title">
        <h1>joshua.reynolds</h1>
    </a>
    <div class="social-links">
        <a
            href="https://github.com/reynoldinho"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="si si-github"></i>
            <span class="sr-only">github</span>
        </a>
        <a
            href="https://www.linkedin.com/in/joshreynolds"
            class="social-link"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="si si-linkedin"></i>
            <span class="sr-only">linkedin</span>
        </a>
        <a href="mailto:mail@reynoldsjoshua.com" class="social-link">
            <i class="si si-email"></i>
            <span class="sr-only">email</span>
        </a>
    </div>
</header>
